<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% block titulo %}
        <title>Document</title>

    {% endblock titulo %}

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block extracss %}

    {% endblock extracss %}
</head>
<body>
{% block body %}
    <h1>index</h1>
    <br>
    <table>
        <tr>
            <td><a href="{% url 'libro:listar_autor' %}">Listar</a></td>
            <td><a href="{% url 'libro:crear_autor' %}">Crear</a></td>
        </tr>


    </table>
{% endblock body %}
</body>
</html>