{% extends 'index.html' %}

{% block title %}

    Creacion de Autores

{% endblock %}

{% block body %}

    <form method="post">
        {% csrf_token %}
        {% if error %}
            <h2>
                {{ error }}
            </h2>
        {% else %}
                        {{ autor_form.as_p }}
{#            <label for="">Nombre</label>#}
{#            <input type="text" name="nombre">#}
{#            <label for="">Apellidos</label>#}
{#            <input type="text" name="apellidos">#}
{#            <label for="">Nacionalidad</label>#}
{#            <input type="text" name="nacionalidad">#}
{#            <label for="">Descripcion</label>#}
{#            <input type="text" name="descripcion">#}


            <button type="submit">Crear</button>

        {% endif %}


    </form>

{% endblock %}


