{% extends 'index.html' %}

{% block titulo %}
    Listado autores
{% endblock %}

{% block body %}
    {% if autores %}
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Nacionalidad</th>
                <th>Descripcion</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for autor in autores %}

                <tr>
                    <td>{{ autor.id }}</td>
                    <td>{{ autor.nombre }}</td>
                    <td>{{ autor.apellidos }}</td>
                    <td>{{ autor.nacionalidad }}</td>
                    <td>{{ autor.descripcion }}</td>
                    <td>
                        <a href="{% url 'libro:editar_autor' autor.id %}">Editar</a>
                    </td>
                </tr>

            {% endfor %}


        </table>
    {% else %}
        <h1>No existen autores</h1>
    {% endif %}
{% endblock %}